@model ScreeningDetailsDto

@{
    ViewData["Title"] = "Screening Details";

    char currentRowLetter = 'A';
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-12">
            <h2 class="text-primary display-4">Szczegóły projekcji</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ms-2">
        <div class="col-4">
            <dl class="row">
                <dt class="col-6">Id projekcji:</dt>
                <dd class="col-6">@Model.Id</dd>

                <dt class="col-6">Nazwa filmu:</dt>
                <dd class="col-6">@Model.MovieTitle</dd>

                <dt class="col-6">Nazwa sali:</dt>
                <dd class="col-6">@Model.CinemaHallName</dd>

                <dt class="col-6">Data:</dt>
                <dd class="col-6">@Model.ScreeningDate.ToString("dd.MM.yyyy")</dd>

                <dt class="col-6">Godzina:</dt>
                <dd class="col-6">@Model.ScreeningTime.ToString("hh\\:mm")</dd>

                <dt class="col-6">Zajęte miejsca:</dt>
                <dd class="col-6">@Model.OccupiedSeats</dd>

                <dt class="col-6">Wolne miejsca:</dt>
                <dd class="col-6">@Model.FreeSeats</dd>

                <dt class="col-6">Cena normalna:</dt>
                <dd class="col-6">@Model.RegularTicketPrice zł.</dd>

                <dt class="col-6">Cena ulgowa:</dt>
                <dd class="col-6">@Model.ReducedTicketPrice zł.</dd>

                <dt class="col-6">Godzina zakończenia:</dt>
                <dd class="col-6">@Model.ScreeningEndTime.ToString("hh\\:mm")</dd>
            </dl>
        </div>
        <div class="col-8">
            <div class="cinemaHall">
                <div class="screen">Ekran</div>
                @if (Model.TotalSeats == 78)
                {
                    for (int row = 1; row < 7; row++)
                    {
                        <div class="row">
                            <div class="row-info">
                                @currentRowLetter
                            </div>
                            @for (int seat = 1; seat < 9; seat++)
                            {
                                var currentSeat = Model.Seats.FirstOrDefault(s => s.RowSign == currentRowLetter && s.SeatNumber == seat);
                                <div class="seat @(currentSeat!.IsReserved ? "reserved" : "available")">@seat</div>
                            }
                            <div class="row-info">
                                @currentRowLetter
                            </div>
                        </div>

                        currentRowLetter++;
                    }

                    for (int row = 7; row < 10; row++)
                    {
                        <div class="row">
                            <div class="row-info">
                                @currentRowLetter
                            </div>
                            @for (int seat = 1; seat < 11; seat++)
                            {
                                var currentSeat = Model.Seats.FirstOrDefault(s => s.RowSign == currentRowLetter && s.SeatNumber == seat);
                                <div class="seat @(currentSeat!.IsReserved ? "reserved" : "available")">@seat</div>
                            }
                            <div class="row-info">
                                @currentRowLetter
                            </div>
                        </div>

                        currentRowLetter++;
                    }
                }
                else if (Model.TotalSeats == 132)
                {
                    @for (int row = 1; row < 8; row++)
                    {
                        <div class="row">
                            <div class="row-info">
                                @currentRowLetter
                            </div>
                            @for (int seat = 1; seat < 13; seat++)
                            {
                                var currentSeat = Model.Seats.FirstOrDefault(s => s.RowSign == currentRowLetter && s.SeatNumber == seat);
                                <div class="seat @(currentSeat!.IsReserved ? "reserved" : "available")">@seat</div>
                            }
                            <div class="row-info">
                                @currentRowLetter
                            </div>
                        </div>

                        currentRowLetter++;
                    }

                    @for (int row = 8; row < 11; row++)
                    {
                        <div class="row">
                            <div class="row-info">
                                @currentRowLetter
                            </div>
                            @for (int seat = 1; seat < 17; seat++)
                            {
                                var currentSeat = Model.Seats.FirstOrDefault(s => s.RowSign == currentRowLetter && s.SeatNumber == seat);
                                <div class="seat @(currentSeat!.IsReserved ? "reserved" : "available")">@seat</div>
                            }
                            <div class="row-info">
                                @currentRowLetter
                            </div>
                        </div>

                        currentRowLetter++;
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center">
            <a asp-controller="Screening" asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-warning mt-2">
                <i class="fas fa-edit"></i> Edytuj
            </a>
            <a asp-action="Index" class="btn btn-primary mt-2"><i class="fas fa-sign-out-alt"></i> Wróć</a>
        </div>
    </div>
</div>
