@model ReservationUserDetailsDto

@{
    ViewData["Title"] = "Reservation Details";
}

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8">

                <div class="card rounded-3 mb-4 reservation-card">
                    <div class="card-body p-4">
                        <h3 class="fw-normal mb-4 text-black">Szczegóły rezerwacji</h3>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="lead fw-normal mb-2">Film:</div>
                                <p>@Model.MovieTitle</p>
                            </div>
                            <div class="col-md-6">
                                <div class="lead fw-normal mb-2">Nazwa sali:</div>
                                <p>@Model.CinemaHallName</p>
                            </div>
                            <div class="col-md-6">
                                <div class="lead fw-normal mb-2">Rodzaj biletów:</div>
                                <p>@Model.TicketType</p>
                            </div>
                            <div class="col-md-6">
                                <div class="lead fw-normal mb-2">Data i godzina:</div>
                                <p>@Model.ScreeningDate.ToShortDateString() &middot; @Model.ScreeningTime.ToString("hh\\:mm")</p>
                            </div>
                            <div class="col-md-6">
                                <div class="lead fw-normal mb-2">Opłacona:</div>
                                <p>@(Model.IsPaidFor ? "Tak" : "Nie")</p>
                            </div>
                            <div class="col-md-6">
                                <div class="lead fw-normal mb-2">Potwierdzona:</div>
                                <p>@(Model.IsConfirmed ? "Tak" : "Nie")</p>
                            </div>
                            <div class="col-md-6">
                                <div class="lead fw-normal mb-2">Zarezerwowane miejsca:</div>
                                <p>@Model.ReservedSeats</p>
                            </div>
                            <div class="col-md-6">
                                <div class="lead fw-normal mb-2">Do zapłaty:</div>
                                <p>@Model.TotalCost.ToString("0.00") PLN</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="text-center">
                    @if (Model.IsPaidFor)
                    {
                        <a asp-action="PayForReservation" asp-controller="Reservations" asp-route-id="@Model.Id" class="btn btn-outline-success flex-shrink-0 ml-3 d-inline-block" style="margin-left: 8px;">
                            Drukuj bilet
                        </a>
                    }
                    else
                    {
                        @if (!Model.IsConfirmed)
                        {
                            <button id="reservationButton" type="button" class="btn btn-outline-success flex-shrink-0" data-bs-toggle="modal" data-bs-target="#confirmationModal">
                                Potwierdź rezerwację
                            </button>
                        }
                        else
                        {
                            <a asp-action="PayForReservation" asp-controller="Reservations" asp-route-id="@Model.Id" class="btn btn-outline-success flex-shrink-0 ml-3 d-inline-block" style="margin-left: 8px;">
                                Opłać rezerwację
                            </a>
                        }
                    }
                    <a asp-action="Index" asp-controller="Reservations" class="btn btn-outline-primary flex-shrink-0 ml-3 d-inline-block" style="margin-left: 8px;">
                        Wróć
                    </a>
                </div>

            </div>
        </div>
    </div>

    <partial name="_ReservationConfirmationModal" model="@Model" />

</section>
