@model IEnumerable<ReservationUserDto>

@{
    ViewData["Title"] = "Reservations";
}

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Moje rezerwacje</h3>
                    <div>
                        <p class="mb-0">
                            <span class="text-muted">Sortuj wg:</span>
                            <a href="#" class="text-body" onclick="toggleSortOrder()">cena <i class="fas fa-angle-down mt-1"></i></a>
                        </p>
                    </div>
                </div>

                @if (Model != null && Model.Any())
                {
                    @foreach (var reservation in Model)
                    {
                        <div class="card rounded-3 mb-4 reservation-card">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2">@reservation.MovieTitle</p>
                                        <p>
                                            <span class="text-muted">Typ biletów: </span>
                                            @reservation.TicketType <br />
                                            <span class="text-muted">Opłacona: </span>
                                            @(reservation.IsPaidFor ? "Tak" : "Nie")
                                        </p>
                                    </div>

                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex align-items-center lead">
                                        <span class="text-muted" style="margin-right: 10px;">Miejsca:</span>
                                        <input type="text" class="form-control ml-3" id="quantity" value="@reservation.TotalSeats" readonly>
                                    </div>

                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0">@reservation.TotalCost.ToString("0.00") PLN</h5>
                                    </div>

                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <a asp-action="Details" asp-controller="Reservations" asp-route-id="@reservation.Id"><i class="fa-solid fa-info-circle" style="color: #43e123; margin-right: 15px; font-size: 1.3rem;"></i></a>
                                        <a class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@reservation.Id"><i class="fas fa-trash fa-lg"></i></a>
                                    </div>

                                    <partial name="_DeleteModal" model="@reservation" />
                                </div>
                            </div>
                        </div>
                    }
                }       
                else
                {
                    <h2 class="pb-3">Nie znaleziono żadej rezerwacji</h2>
                }

            </div>
        </div>
    </div>
</section>

<script>
    function toggleSortOrder() {
        var currentSortOrder = '@ViewBag.SortOrder';
        var newSortOrder = currentSortOrder === 'asc' ? 'desc' : 'asc';
        window.location.href = '@Url.Action("Index")' + '?sortOrder=' + newSortOrder;
    }
</script>
