@model ApplicationUserDetailsDto

@{
    ViewData["Title"] = "User Details";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-12">
            <h2 class="text-primary display-4">Szczegóły użytkownika</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <dl class="row">
                <dt class="col-4">Id:</dt>
                <dd class="col-8">@Model.Id</dd>

                <dt class="col-4">Imię:</dt>
                <dd class="col-8">@Model.FirstName</dd>

                <dt class="col-4">Nazwisko:</dt>
                <dd class="col-8">@Model.LastName</dd>

                <dt class="col-4">Email:</dt>
                <dd class="col-8">@Model.Email</dd>

                <dt class="col-4">Numer telefonu:</dt>
                <dd class="col-8">@(Model.PhoneNumber != null ? Model.PhoneNumber : "Brak") </dd>

                <dt class="col-4">Rola:</dt>
                <dd class="col-8">@Model.UserRole</dd>
            </dl>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center">
            <a asp-controller="ApplicationUser" asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-warning mt-2">
                <i class="fas fa-edit"></i> Edytuj
            </a>
            <a asp-action="Index" class="btn btn-primary mt-2"><i class="fas fa-sign-out-alt"></i> Wróć</a>
        </div>
    </div>
</div>
