@model MovieDetailsViewModel

@{
    ViewData["Title"] = "Movie Details";
}

<form asp-action="Details" method="post">
    <section class="py-2">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" width="500" height="600" src="@Model.Movie.ImagePath" alt="Product Image" />
                </div>
                <div class="col-md-6">
                    <div class="small mb-0">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-1" style="font-size: 16px;">@Model.Movie.Category</div>
                    </div>
                    <h1 class="display-5 fw-bolder">@Model.Movie.Title</h1>
                    <div class="fs-5 mb-3">
                        <div class="d-flex align-items-center">
                            <div class="small">
                                <div class="fw-bold">Reżyser</div>
                                <div class="text-muted">@Model.Movie.ReleaseDate.ToString("dd.MM.yyyy") &middot; @Model.Movie.Duration min.</div>
                            </div>
                        </div>
                    </div>
                    <p class="lead">@Model.Movie.Description</p>
                    <div class="d-flex">
                        <button class="btn btn-outline-success flex-shrink-0" asp-controller="Screenings" asp-route-id="@Model.Movie.Id" asp-action="ByMovie">
                            Kup bilet
                        </button>
                        <a href="#" class="btn btn-outline-primary flex-shrink-0 ml-3" style="margin-left: 8px;" target="_blank">
                            Zwiastun
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Obejrzyj również</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl-4 justify-content-center">
            @foreach (var movie in Model.RandomMovies)
            {
                <div class="col-lg-4 mb-5 movie-card">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="@movie.ImagePath" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">@movie.Category</div>
                                <!-- Product name-->
                                <h4 class="fw-bolder">@movie.Title</h4>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="small">
                                    <div class="fw-bold">Reżyser</div>
                                    <div class="text-muted">@movie.ReleaseDate.ToString("dd.MM.yyyy") &middot; @movie.Duration min.</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="text-center">
                                <div class="btn-group" role="group">
                                    <div class="text-center mr-3">
                                        <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.Id" class="btn btn-outline-dark mt-auto">
                                            Pokaż więcej
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
