@model X.PagedList.IPagedList<MovieDto>

@{
    ViewData["Title"] = "Movies";
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Biblioteka filmów</h1>
            <p class="lead fw-normal text-white-50 mb-0">Wybierz proszę film, który masz zamiar obejrzeć </p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-2">
    <div class="container px-2 px-lg-2 mt-4">
        <form asp-controller="Movies" asp-action="Index" method="get" class="text-center">
            <div class="row justify-content-center align-items-end mb-5">
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" name="searchString" placeholder="Wyszukaj po tytule" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select id="filmCategory" name="filmCategory" class="form-control">
                            <option value="">Wybierz kategorię</option>
                            @foreach (var category in Enum.GetValues(typeof(FilmCategory)))
                            {
                                <option value="@category">@category</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary w-100" data-mdb-ripple-init>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @if (Model != null && Model.Any())
            {
                @foreach (var movie in Model)
                {
                    <div class="col-lg-4 mb-5 movie-card">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="@movie.ImagePath" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">@movie.Category</div>
                                    <!-- Product name-->
                                    <h4 class="fw-bolder">@movie.Title</h4>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="small">
                                        <div class="fw-bold">@movie.Director</div>
                                        <div class="text-muted">@movie.ReleaseDate.ToString("dd.MM.yyyy") &middot; @movie.Duration min.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="text-center">
                                    <div class="btn-group" role="group">
                                        <div class="text-center mr-3">
                                            <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.Id" class="btn btn-outline-dark mt-auto">
                                                Pokaż więcej
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h2 class="pb-3">Nie znaleziono żadnych filmów</h2>
            }
        </div>
    </div>
</section>
<!-- Dodajemy element paginacji na dole -->
<div class="row justify-content-center mt-4">
    <div class="col-md-12">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchString, filmCategory = ViewBag.FilmCategory }),
                         new PagedListRenderOptions
                {
                    PageCountAndCurrentLocationFormat = "Strona {0}",
                    UlElementClasses = new[] { "pagination" },
                    LiElementClasses = new[] { "page-item" },
                    PageClasses = new[] { "page-link" },
                    ContainerDivClasses = new[] { "pagination" },
                    DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                    DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                    DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                    DisplayEllipsesWhenNotShowingAllPageNumbers = false
                })
            </ul>
        </nav>
    </div>
</div>
